<!-- materials.html -->
{% extends 'base.html' %}
{% load permissions_tags %}
{% load static %}
{% block title %}Materials{% endblock %}

{% block content %}
<style>
  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Newsreader&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Newsreader&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto:300,400,500,790,900&display=swap");



  .section_1 {
      padding-left: 90px;
      top: 70px;
      width: 650px;
      height: 100vh;
      z-index: -1;
      margin-right: 900px;
      width: 100%;
      left: 90px;
      width: 90%;
      height: 80%;
  }

  .section_3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
  }

  .section_3_portion_1 {
      position: relative;
      z-index: 1;
  }

  #welcome {
      font-size: 10rem;
      color: transparent;
      -webkit-text-stroke: 2px #fff;
      cursor: pointer;
      top: 50%;
      transition: all 0.4s ease;
      display: inline-block;
  }

  #welcome:hover {
      color: rgba(255, 255, 255, 0.8);
  }

  p {
      margin: 20px;
  }

  .blue_color_div {
      position: absolute;
      top: 0;
      left: 90px;
      width: 90%;
      height: 80%;
      background-color: rgba(23, 83, 117, 0.588);
      opacity: 0.8;
  }

  /*parcours*/
  p {
      margin: 20px;
  }

  #parcours-parcours {
      position: relative;
      padding: 10%;
      
      width: 100vw;
      margin-top: 15%;
      height: max-content;
      margin-bottom: 0;
  }

  #parcours-parcours .contentBox {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 25px;
      
  }

  #parcours-parcours .contentBox .box {
      overflow: hidden;
      position: relative;
      height: 250px;
      transition: 0.5s;
  }

  #parcours-parcours .contentBox .box img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: blur(3px);
      z-index: -1000;
  }
  .box p.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black; /* Adjust text color as needed */
  margin: 10% 0; /* Add margin for spacing between paragraphs */
}

  .box .content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      

      transform: translateX(100%);
      transition: 0.5s;
  }

  .box .content h4 {
      font-size: 25px;
      margin-bottom: 10px;
      color: #000;
      text-align: center;
  }

  .box .content p {
      padding: 2px;
      font-size: 12px;
      color: #000;
  }

  .box:hover {
      box-shadow: 0 0 10px #178bf7;
  }

  .box:hover .content {
      transform: translateX(0);
  }

  .btn {
      width: 150px;
      height: 50px;
      border-radius: 50px;
  }

  .border.btn {
      display: flex;
  }

  .border button {
      cursor: pointer;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 0;
      background-color: #07022c;
      color: #fff;
      outline: 0;
  }

  .btn button {
      width: 150px;
      height: 43px;
      border-radius: 50px;
  }

  .border:hover {
      background: linear-gradient(#14ffe9, #ffeb3b, #0400ff);
      box-shadow: 0px 0px 20px -8px #14ffe9, 0px 0px 20px -8px #ffeb3b,
          0px 0px 20px -8px #006eff;
      animation: rotate 1.5s linear infinite;
  }

  .containerBtns {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
  }

  .containerBtns .btn {
      position: relative;
      background-color: white;
  }

  .containerBtns .btn a,
  .containerBtns .btn form {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.469);
      border-top: 1px solid rgba(11, 10, 10, 0.529);
      border-bottom: 1px solid rgba(27, 22, 22, 0.223);
      border-radius: 30px;
      color: rgb(9, 9, 59);
      z-index: 1;
      font-weight: 400;
      letter-spacing: 1px;
      text-decoration: none;
      overflow: hidden;
      transition: 0.5s;
      backdrop-filter: blur(15px);
  }

  .containerBtns .btn:hover a,
  .containerBtns .btn:hover form button {
      letter-spacing: 3px;
  }

  .containerBtns .btn a::before,
  .containerBtns .btn form button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(to left,
              rgba(255, 255, 255, 0.15), transparent);
      transform: skewX(45deg) translateX(0);
      transition: 0.5s;
  }

  .containerBtns .btn:hover a::before,
  .containerBtns .btn:hover form button::before {
      transform: skewX(45deg) translateX(200%);
  }

  .containerBtns .btn::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -5px;
      width: 30px;
      height: 10px;
      background: #f00;
      border-radius: 10px;
      transition: 0.5s;
      transition-delay: 0s;
  }

  .containerBtns .btn:hover::before {
      bottom: 0;
      height: 50%;
      width: 80%;
      border-radius: 30px;
      transition-delay: 0.5s;
  }


  .containerBtns .btn:before {
      background: #158dae;
      box-shadow: 0 0 5px #1dc6f5,
          0 0 15px #2bd2ff,
          0 0 30px #2bd2ff,
          0 0 60px #2bd2ff;
  }

  .debut {
     
      width: 100vw !important;
      height: 85vh !important;
      position: relative;
  }

  .wrapper-container {
      
      height: 100%;
      width: 100%;
  }
</style>

<style>


    a {
      cursor: pointer;
      transition: all 200ms linear;
    }

    a:hover {
      text-decoration: none;
    }

    .link {
      color: #c4c3ca;
    }

    .link:hover {
      color: #ffeba7;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.7;
    }

    h4 {
      font-weight: 600;
    }

    h6 span {
      padding: 0 20px;
      text-transform: uppercase;
      font-weight: 700;
    }



    .full-height {
      min-height: 100vh;
    }

    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    .checkbox:checked+label,
    .checkbox:not(:checked)+label {
      position: relative;
      display: block;
      text-align: center;
      width: 60px;
      height: 16px;
      border-radius: 8px;
      padding: 0;
      margin: 10px auto;
      cursor: pointer;
      background-color: #ffeba7;
    }

    .checkbox:checked+label:before,
    .checkbox:not(:checked)+label:before {
      position: absolute;
      display: block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      color: #ffeba7;
      background-color: #171f38;
      font-family: "unicons";
      content: "\eb4f";
      z-index: 20;
      top: -10px;
      left: -10px;
      line-height: 36px;
      text-align: center;
      font-size: 24px;
      transition: all 0.5s ease;
    }

    .checkbox:checked+label:before {
      transform: translateX(44px) rotate(-270deg);
    }

    .card-3d-wrap {
      position: relative;
      width: 440px;
      max-width: 100%;
      height: 400px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      perspective: 800px;
      margin-top: 60px;
    }

    .card-3d-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      transition: all 600ms ease-out;
    }

    .card-front,
    .card-back {
      width: 100%;
      height: 100%;
      background-color: #2a2b38;
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 300%;
      position: absolute;
      border-radius: 6px;
      left: 0;
      top: 0;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .card-back {
      transform: rotateY(180deg);
    }

    .checkbox:checked~.card-3d-wrap .card-3d-wrapper {
      transform: rotateY(180deg);
    }

    .center-wrap {
      position: absolute;
      width: 100%;
      padding: 0 35px;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 35px) perspective(100px);
      z-index: 20;
      display: block;
    }

    .form-group {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
    }

    .form-style {
      padding: 13px 20px;
      padding-left: 55px;
      height: 48px;
      width: 100%;
      font-weight: 500;
      border-radius: 4px;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.5px;
      outline: none;
      color: #c4c3ca;
      background-color: #1f2029;
      border: none;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
      box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
    }


    .btn {
      border-radius: 4px;
      height: 44px;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
      padding: 0 30px;
      letter-spacing: 1px;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      text-align: center;
      border: none;
      background-color: #ffeba7;
      color: #102770;
      box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
    }

    .btn:active,
    .btn:focus {
      background-color: #102770;
      color: #ffeba7;
      box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
    }

    .btn:hover {
      background-color: #102770;
      color: #ffeba7;
      box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
    }



    :root {
      --clr-dark-900: #102770;
      --clr-dark-800: #e4dddd;
      --clr-dark-700: #f1ebe7;
      --clr-primary: #102770;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      /* ajustez la hauteur en fonction de votre contenu */
    }



    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
    }

    img {
      max-width: 100%;
    }

    body {
      min-height: 100dvh;
      background-color: #1b263b;
      color: #c4c3ca;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
    }


    header {
      height: 300px;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    footer {
      padding: 1rem;
    }

    .inputBtn {
      display: block;
      width: 100%;
      padding: 0.75rem 1rem;
      border: none;
      font-size: 1.5rem;
      color: rgb(8, 8, 8);
      border-radius: 0.5vmin;
      margin-top: 0.5rem;
    }

    .inputBtn {
      background-color: var(--clr-dark-700);
    }

    .inputBtn::placeholder {
      color: #d6cfcf;
    }


    .image-container {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background: white;
      border: 5px solid #986844;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }

    .image-container .image {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -12%;
      animation: avatar 5s ease-in-out infinite;
      transform-origin: bottom;
      transition: 500ms;
    }

    @keyframes avatar {

      0%,
      50%,
      100% {
        transform: rotate(0deg) translatey(0px) scale(1.05);
      }

      25% {
        transform: rotate(5deg) translatey(5px) scale(1);
      }

      75% {
        transform: rotate(-5deg) translatey(5px) scale(1);
      }
    }

    .image-container .image:active {
      translate: 0 50px;
    }

    .image-container img {
      display: inline-block;
      position: absolute;
      transition: 100ms;
    }

    .image-container img.face {
      width: 40%;
      left: 30%;
      bottom: 40%;
      opacity: 0;
    }

    .image-container .face-1 {
      opacity: 1;
      animation: eye-open 2s ease-in-out infinite;
    }

    .image-container .face-2 {
      animation: blink 2s ease-in-out infinite;
    }

    @keyframes blink {

      0%,
      89%,
      100% {
        opacity: 0;
      }

      90%,
      99% {
        opacity: 1;
      }
    }

    @keyframes eye-open {

      0%,
      89%,
      100% {
        opacity: 1;
      }

      90%,
      99% {
        opacity: 0;
      }
    }

    .image-container:hover img.face {
      opacity: 0 !important;
      animation: none;
    }

    .image-container:hover img.face-3 {
      opacity: 1 !important;
    }

    .curtain {
      position: absolute;
      top: -5px;
      height: 0;
      width: 100%;
      background-color: #1f2029;
      border-bottom: 15px solid var(--clr-primary);
      transition: 0.5s;
    }

    section:has([type="password"]:focus) .curtain {
      height: 90%;
    }

    section:has([type="password"]:focus) .image {
      animation-play-state: paused;
    }
  </style>
<section id="parcours-parcours">
    <h1>Materials</h1>
    <h2>Materials for Course ID: {{ course_id }}</h2>

    {% if materials %}
    <div class="contentBox">
        {% for material in materials %}
        <div class="box">
          <img src="{% static 'acceuil/images/cours.jpg' %}" alt="">
            <p class="overlay">
              {{material.id}} <br>
            Title: {{ material.title }} <br>
            Content: {{ material.content }} <br>
            Document Type: {{ material.document_type }}</p>
            <div class="content">
                <div class="wrapper-container">
                    <div class="containerBtns">
                        {% if request.user|has_permission:'courseApp.upload_materials' %}
                        <div class="btn">
                                <a href="{% url 'update-material' pk=material.id %}">update</a>
                        </div>
                        {% endif %}

                        {% if request.user|has_permission:'courseApp.upload_materials' %}
                        <div class="btn">
                                <button type="button" class="delete-material-btn"  data-material-id = {{material.id}} >Delete Material</button>
                        </div>
                        {% endif %}

                        {% if request.user|has_permission:'courseApp.can_enroll' %}
                        <div class="btn">
                            
                            <form id="downloadForm" data-material-id="{{ material.id }}" data-interaction-type="download">
                                {% csrf_token %}
                                <button type="button" class="downloadButton">Download Material</button>
                            </form>
                            
                        </div>
                        {% endif %}
                        {% if request.user|has_permission:'courseApp.can_enroll' %}
                        <div class="btn">
                            <a href="{% url 'material-list-details' material_id=material.id %}" id="adddInteractionBtn" data-material-id="{{material.id}}"  >View Material Detail</a>
                        </div>
                        {% endif %}
                        {% if request.user|has_permission:'courseApp.can_enroll' %}
                        <div class="btn">
                            
                            <a href="{% url 'list-interaction' material_id=material.id %}">Interaction Hisotry</a>
                            
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No materials available.</p>
    {% endif %}
    {% if request.user|has_permission:'courseApp.upload_materials' %}
    <button class="btnDetailsMaterial" type="button" id="open-add-material-dialog" data-course-id="{{ course_id }}">Add Material</button>
{% endif %}
    <!-- Add Material Dialog -->
<div id="add-material-dialog" style="display: none;" id="loginForm">
    <form id="add-material-form">
        {% csrf_token %}

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required class="form-style">
        <br>

        <label for="content">Content:</label>
        <textarea id="contentElement" name="contentElement" rows="4" required  class="form-style"></textarea>

        <br>

        <label for="document_type">Document Type:</label>
        <select id="document_type" name="document_type" required  class="form-style">
            <option value="PDF">PDF</option>
            <option value="WORD">WORD</option>
            <!-- Add more document types as needed -->
        </select>
        <br>

        <button class="inputBtn" type="submit">Create Material</button>
    </form>
</div>
<!--Oen Material Dialog-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Open Add Course Dialog
        var openAddMaterialDialog = document.getElementById("open-add-material-dialog");
        console.log(openAddMaterialDialog)
        if (openAddMaterialDialog) {
            openAddMaterialDialog.addEventListener("click", function () {
                var addMaterialDialog = document.getElementById("add-material-dialog");
                if (addMaterialDialog) {
                    addMaterialDialog.style.display = "block";
                }
            });
        }
        // Submit Form
        var addMaterialForm = document.getElementById("add-material-form");
        console.log(addMaterialForm)
        if (addMaterialForm) {
            addMaterialForm.addEventListener("submit", function (event) {
                event.preventDefault();
                
                var title = document.getElementById("title").value;
                var contentElement = document.getElementById("contentElement").value;
                var document_type = document.getElementById("document_type").value;
                var courseId = openAddMaterialDialog.getAttribute("data-course-id");

                // Log the values directly before sending the AJAX request
                console.log("Title:", title);
                console.log("Content:", contentElement);
                console.log("Document Type:", document_type);
                console.log("Course ID:", courseId);
                // Make AJAX request to AddMaterialView
                fetch("{% url 'add-material' course_id=0 %}".replace('0', courseId), {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value,
                    },
                    body: JSON.stringify({
                        title: title,
                        content: contentElement,
                        document_type: document_type,
                        
                    }),
                })
                .then(response => {
                if (response.ok) {
                    alert("Material added successfully.");
                    window.location.reload();
                    // Optionally, you can redirect to another page or update the UI.
                    addMaterialDialog.style.display = "none";
                } else if (response.status === 403) {
                    // Permission denied
                    alert("You do not have permission to create a material for this course");
                } else {
                    return response.json().then(data => {
                        console.log("Error adding Material: " + data.error);
                    });
                }
            })
            .catch(error => {
                console.log("Error adding Material: " + error.message);
            });
        });
    }
});
</script>

<!--delete Material-->
<script>
document.addEventListener("DOMContentLoaded", function () {
  var deleteButtons = document.getElementsByClassName("delete-material-btn");

  Array.from(deleteButtons).forEach(function (button) {
      button.addEventListener("click", function () {
          var materialId = button.getAttribute("data-material-id");

          if (confirm("Are you sure you want to delete this Material?")) {
              var xhr = new XMLHttpRequest();
              xhr.open("DELETE", "/Material/materials/" + materialId + "/delete/", true);
              xhr.setRequestHeader("Content-Type", "application/json");
              xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

              xhr.onreadystatechange = function () {
                  if (xhr.readyState === 4) {
                    if (xhr.status === 204) {
                      alert("Material deleted successfully.");
                      window.location.reload();
                  } else if (xhr.status === 403) {
                      var errorResponse = JSON.parse(xhr.responseText);
                      alert("Error deleting Material: " + errorResponse.error);
                  } else {
                      console.log("Error deleting Material: " + xhr.responseText);
                  }
                  }
              };

              xhr.send();
          }
      });
  });
});
</script>
<!--Add interaction-->
<script>
    // Get all elements with the class 'adddInteractionBtn'
    var adddInteractionBtns = document.querySelectorAll('#adddInteractionBtn');

    // Iterate through each button
    adddInteractionBtns.forEach(function(adddInteractionBtn) {
        adddInteractionBtn.addEventListener("click", function () {
            var materialId = adddInteractionBtn.getAttribute('data-material-id');
            alert(materialId)
            var interactionType = 'read';
            console.log(interactionType)
            var url = "{% url 'add-interaction' material_id=0 interaction_type='example' %}"
                  .replace('0', materialId)
                  .replace('example', interactionType);

            // Make AJAX request to AddInteractionView
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value,
                },
                body: JSON.stringify({
                    interaction_type: interactionType
                    // Add other data you want to send to the AddInteractionView
                }),
            })
            .then(response => {
                if (response.ok) {
                    console.log("Interaction added successfully.");
                    // Handle success, if needed
                } else {
                    return response.json().then(data => {
                        console.log("Error adding interaction: " + data.error);
                        // Handle error, if needed
                    });
                }
            })
            .catch(error => {
                console.log("Error adding interaction: " + error.message);
                // Handle error, if needed
            });
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var downloadButtons = document.querySelectorAll(".downloadButton");

        downloadButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                var materialId = this.parentNode.getAttribute("data-material-id");
                var interactionType = this.parentNode.getAttribute("data-interaction-type");

                console.log("Interaction is " + interactionType);
                console.log("materialId: " + materialId);

                var url = "{% url 'add-interaction' material_id=0 interaction_type='download' %}"
                    .replace('0', materialId);

                // Send the AJAX request
                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": "{{ csrf_token }}",  // Include the CSRF token
                    },
                    body: "csrfmiddlewaretoken={{ csrf_token }}",  // Include the CSRF token in the body
                })
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(function (data) {
                    alert("Material downloaded");
                })
                .catch(function (error) {
                    alert("Error: " + error.message);
                });
            });
        });
    });
</script>



</section>
{% endblock %}
