{% extends "base.html"%}
{% block start  %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <label for="receipe_name">receipe name:</label><br>
    <input type="text" name="receipe_name"  ><br>


    <label for="receipe_description">recipe desciption</label><br>
    <textarea name="receipe_description" id="" cols="30" rows="10"></textarea>

    <label for="receipe_image">receipe image</label><br>
    <input type="file" name="receipe_image"  ><br>

    <button type="submit">Submit</button>
    
  </form> 
  <div>
    <form >
      <label for="receipe_name">Search for food</label>
    <input type="text" name="search" >
    <button>submit</button>
    </form>
  </div>
 
  <table border="1">
    <tr>
        <th>#</th>
        <th>receipe_name</th>
        <th>receipe_description</th>
        <th>receipe_image</th>
        <th>Action</th>
    </tr>
    {% for recipe in receipes %}
    
    <tr>
        <td>{{ recipe.id }}</td>
        <td>{{ recipe.receipe_name }}</td>
        <td>{{ recipe.receipe_description }}</td>
        <td>
          <img src="/media/{{ recipe.receipe_image }}" style="height: 100px;">
          
        </td>
        <td><a href="/delete_receipe/{{recipe.id}}">Delete</a>
          <a href="/update_receipe/{{recipe.id}}">Update</a></td>
    </tr>
    {% endfor %}
</table>

    
{% endblock %}