<!-- materials.html -->
{% extends 'base.html' %}
{% load permissions_tags %}
{% block title %}Materials{% endblock %}

{% block content %}
    <h1>Materials</h1>
    <h1>Materials for Course ID: {{ course_id }}</h1>
    {% if materials %}
        <ul>
            {% for material in materials %}
                <li>
                    <p>{{material.id}}</p>
                    <p>Title: {{ material.title }}</p>
                    <p>Content: {{ material.content }}</p>
                    <p>Document Type: {{ material.document_type }}</p>
                    {% if request.user|has_permission:'courseApp.upload_materials' %}
                        <button type="button" >Update Material</button>
                        <button type="button" class="delete-material-btn"  data-material-id = {{material.id}} >Delete Material</button>
                    {% endif %}
                    {% if request.user|has_permission:'courseApp.can_enroll' %}
                    <form action="{% url 'add-interaction' material_id=material.id interaction_type='download' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Download Material</button>
                    </form>
                    <form action="{% url 'add-interaction' material_id=material.id interaction_type='read' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Read Material</button>
                    </form>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No materials available.</p>
    {% endif %}
    {% if request.user|has_permission:'courseApp.upload_materials' %}
        <button type="button" id="open-add-material-dialog" data-course-id="{{ course_id }}">Add Material</button>
    {% endif %}
        <!-- Add Material Dialog -->
    <div id="add-material-dialog" style="display: none;">
        <form id="add-material-form">
            {% csrf_token %}
  
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <br>

            <label for="content">Content:</label>
            <textarea id="contentElement" name="contentElement" rows="4" required></textarea>

            <br>

            <label for="document_type">Document Type:</label>
            <select id="document_type" name="document_type" required>
                <option value="PDF">PDF</option>
                <option value="WORD">WORD</option>
                <!-- Add more document types as needed -->
            </select>
            <br>

            <button type="submit">Create Material</button>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Open Add Course Dialog
            var openAddMaterialDialog = document.getElementById("open-add-material-dialog");
            if (openAddMaterialDialog) {
                openAddMaterialDialog.addEventListener("click", function () {
                    var addMaterialDialog = document.getElementById("add-material-dialog");
                    if (addMaterialDialog) {
                        addMaterialDialog.style.display = "block";
                    }
                });
            }
            // Submit Form
            var addMaterialForm = document.getElementById("add-material-form");
            if (addMaterialForm) {
                addMaterialForm.addEventListener("submit", function (event) {
                    event.preventDefault();

                    var title = document.getElementById("title").value;
                    var content = document.getElementById("content").value;
                    var contentElement = document.getElementById("contentElement").value;
                    

                    var document_type = document.getElementById("document_type").value;
                    var courseId = openAddMaterialDialog.getAttribute("data-course-id");

                    // Log the values directly before sending the AJAX request
                    console.log("Title:", title);
                    console.log("Content:", contentElement);
                    console.log("Document Type:", document_type);
                    console.log("Course ID:", courseId);
                    // Make AJAX request to AddMaterialView
                    fetch("{% url 'add-material' course_id=0 %}".replace('0', courseId), {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value,
                        },
                        body: JSON.stringify({
                            title: title,
                            content: contentElement,
                            document_type: document_type,
                            
                        }),
                    })
                    .then(response => {
                    if (response.ok) {
                        alert("Material added successfully.");
                        // Optionally, you can redirect to another page or update the UI.
                        addMaterialDialog.style.display = "none";
                    } else if (response.status === 403) {
                        // Permission denied
                        alert("You do not have permission to create a material for this course");
                    } else {
                        return response.json().then(data => {
                            console.log("Error adding Material: " + data.error);
                        });
                    }
                })
                .catch(error => {
                    console.log("Error adding Material: " + error.message);
                });
            });
        }
    });
    </script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      var deleteButtons = document.getElementsByClassName("delete-material-btn");

      Array.from(deleteButtons).forEach(function (button) {
          button.addEventListener("click", function () {
              var materialId = button.getAttribute("data-material-id");

              if (confirm("Are you sure you want to delete this Material?")) {
                  var xhr = new XMLHttpRequest();
                  xhr.open("DELETE", "/Material/materials/" + materialId + "/delete/", true);
                  xhr.setRequestHeader("Content-Type", "application/json");
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

                  xhr.onreadystatechange = function () {
                      if (xhr.readyState === 4) {
                        if (xhr.status === 204) {
                          alert("Material deleted successfully.");
                          window.location.reload();
                      } else if (xhr.status === 403) {
                          var errorResponse = JSON.parse(xhr.responseText);
                          alert("Error deleting Material: " + errorResponse.error);
                      } else {
                          console.log("Error deleting Material: " + xhr.responseText);
                      }
                      }
                  };

                  xhr.send();
              }
          });
      });
  });
  </script>


{% endblock %}
