<!-- course_list.html -->
{% extends 'base.html' %}
{% block title %}Enrollment{% endblock %}

{% block content %}
    <h1>Enrollment List</h1>
    {% if enrollment %}
        <ul>
            <li>
                {% for enroll in enrollment %}
                <p> course Id : {{ enroll.id}}</p>
                <p>Course Title: {{ enroll.course_title }}</p>
                <p> student id : {{ enroll.student }}</p>
                <p>Student Username: {{ enroll.student_username }}</p>
                <p>date : {{ enroll.enrollment_date}}</p>
            {% endfor %}
            </li>
            
        </ul>
    {% else %}
        <p>No enrollments available.</p>
    {% endif %}

   
{% endblock %}

