<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            {% if request.user.is_authenticated %}
                <a href="/logout" class="btn btn-outline-success" type="submit">logout</a>
            {% else %}
                <a href="/login" class="btn btn-outline-success" type="submit">login</a>
            {% endif %}
          </form>
        </div>
      </nav>
    {% block start  %}
    
    
    {% endblock %}
</body>
</html>